<!DOCTYPE html>
<html lang="en">
<%- include("./components/head") %>

<body>
    <main class="main" >
        <%- include('./components/navigation') %> 
        <div class="hero">
            <div class="hero__text">
                <div class="preTitle">
                    <hr>
                    Abdallah Bari
                </div>
                <h1>
                    Hi, My name is <span>Abdallah</span> and I'm a <span>Web Developer!</span> 
                </h1>
                <p>
                    <!-- I'm a web developer who creates amazing<br> web applications and sites. -->
                    My passion is building amazing websites and applications using exciting technologies.

                </p>
                <div class="btn-container">
                    <a class="btn">Download Resume &#8595</a>
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJZZzpSCwdCDCHxXrSpnLsfwWLKSPdQBdmwjNZrQBsmCShchMqzRMrhqMMhgLsrjwkPdVcg" class="highlight highlight__js" target="_blank" rel="noopener noreferrer">Let's Get in Touch</a>
                </div>
            </div>
            <div class="hero__img">
                <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
            </div>
            <div class="external-links">
                <ul>
                    <a href="https://github.com/Abdallah01win" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-github"></ion-icon></a>
                    <a href="https://www.linkedin.com/in/abdallah-b-815ba7119/" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a>
                        <ion-icon name="logo-codepen"></ion-icon>
                    </a>
                    <a><ion-icon name="logo-twitter"></ion-icon></a>
                    <div class="line"></div>
                </ul>
            </div>
        </div>
        <section class="projects">
            <div class="preTitle">
                <hr>
                My Projects
            </div>
            <h2 class="title">Some of My Works</h2>
            <%- include('./components/great-reads') %> 
            <%- include('./components/norway-tours') %> 
            <%- include('./components/daily-weather') %> 
        </section>
        <section class="about-me">
            <div class="about-me__info">
                <div class="preTitle">
                    <hr>
                    About Me
                </div>
                <h2 class="title">My journy in Development</h2>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam veritatis odio assumenda sunt architecto aliquam itaque fugit magnam. Vel fuga quos a veritatis.</p>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam veritatis odio assumenda sunt architecto aliquam itaque fugit magnam. Vel fuga quos a veritatis. Incidunt expedita ullam perspiciatis rem? Deserunt, ipsum.</p>
            </div>
            <div class="about-me__svg">
                <img src="/assets/my-custom-arrow.svg" alt="">
            </div>
            <div class="about-me__skills">
                <h2 class="sec-title">Things I've Learned So Far!</h2>
                <div class="three-col-grid">
                    <div class="skill">
                        <img src="/assets/pixeltrue-icons-web-design-2.svg" alt="">
                        <div class="skill__title">UI Design</div>
                        <div class="skill__discription paragraph">I developed a deep understanding of UI and UX principles that enables me to build accesible and user friendly UIs.</div>
                    </div>
                    <div class="skill">
                        <img src="/assets/pixeltrue-icons-building-website-3.svg" alt="">
                        <div class="skill__title">Front-End Development</div>
                        <div class="skill__discription paragraph">In addition to HTML, CSS, and JS, I focused on newer features such as ES6, SASS, AJAX... to optemize my code.</div>
                    </div>
                    <div class="skill">
                        <img src="/assets/pixeltrue-icons-seo-2.svg" alt="">
                        <div class="skill__title">Back-End Development</div>
                        <div class="skill__discription paragraph">I gained experience with Express servers, the data transfer lifecycle, and the CRUD functionality in databases.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="contact__info">
                <p class="paragraph">Feel free to contact me at any time of your conveniance, or download my resume.</p>
                <div class="btn-container">
                    <a class="btn">Download Resume &#8595</a>
                    <a class="highlight highlight__js">Let's Get in Touch</a>
                </div>
            </div>
        </section>
    </main>
<%- include("./components/scripts") %> 
</body>

</html>