<!DOCTYPE html>
<html lang="en">
<%- include("./components/head") %>

<body>
    <main class="main">
        <%- include('./components/navigation') %> 
        <div class="hero">
            <div class="hero__text">
                <div class="preTitle">
                    <hr>
                    Abdallah Bari
                </div>
                <h1>
                    Hi, My name is <span>Abdallah</span> and I'm a <span>Web Developer!</span> 
                </h1>
                <p>
                    I'm a web developer who creates amazing<br> web applications and sites.
                </p>
                <div class="btn-container">
                    <a class="btn">Download Resume &#8595</a>
                    <a class="highlight highlight__js">Let's Get in Touch</a>
                </div>
            </div>
            <div class="hero__img">
                <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
            </div>
            <div class="external-links">
                <ul>
                    <li><ion-icon name="logo-github"></ion-icon></li>
                    <li><ion-icon name="logo-linkedin"></ion-icon></li>
                    <li>
                        <ion-icon name="logo-codepen"></ion-icon>
                    </li>
                    <li><ion-icon name="logo-twitter"></ion-icon></li>
                    <div class="line"></div>
                </ul>
            </div>
        </div>
        <section class="projects">
            <div class="preTitle">
                <hr>
                My Projects
            </div>
            <h2 class="title">Some of My Works</h2>
            <%- include('./components/great-reads') %> 
            <%- include('./components/norway-tours') %> 
            <%- include('./components/daily-weather') %> 
        </section>
    </main>
<%- include("./components/scripts") %> 
</body>

</html>